<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <h3 class="card-title"><%= @patient.name.upcase %></h3>
    <%= @patient.age %> anos - <%= @patient.email.capitalize %>
  </div>
</div>
<br>
<div class="card border " style="width: 60%">
	<div class="card-header text-center bg-info text-white">
		<h4>Planejamentos Alimentares</h4>
	</div>
	<ul class="list-group list-group-flush">
		<% @patient.food_plannings.each do |food_planning| %>
			<li class="list-group-item " onclick="location.href='../food_plannings/<%= food_planning.id%>'"><h7><%= food_planning.created_at.strftime("%d-%m-%Y")%></h7> - <span class="card-subtitle mb-2 text-muted"> valido ate <%= food_planning.date_finish.strftime("%d-%m-%Y") unless food_planning.date_start.nil?%></span></li>
		<% end %>
	</ul>
</div>
<br>

<div class="modal fade" id="modal_new_foodplan" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
      	<h4>Planejamento Alimentar</h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<%= link_to "#", class: "btn btn-info btn-sm",
    data: {     
      url: new_food_planning_path(patient_id: @patient.id),
      toggle: "modal",
      target: "#modal_new_foodplan"} do %>
  Adicionar
<% end %>

<!-- 
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %> -->

<script>
	$('#modal_new_foodplan').on("show.bs.modal", function(e) {    
    	$(this).find('.modal-body').load(e.relatedTarget.dataset.url, function(){
	    	
	    });
	});
</script>