<p id="notice"><%= notice %></p>

<p>
  <strong>Type meal:</strong>
  <%= @meal.type_meal %>
</p>

<p>
  <strong>Values:</strong>
  <%= @meal.values %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
