<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  
</p>

<p>
  <strong>Date start:</strong>
  <%= @food_planning.date_start %>
</p>

<p>
  <strong>Date finish:</strong>
  <%= @food_planning.date_finish %>
</p>



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner col-md-11">
  	<% @food_planning.meals.each_with_index do |meal, index| %>
  		<% if index == 0 %>
  			<div class="carousel-item active">
  				<div class="row">
  					<div class=" offset-md-2 col-md-3">
  						<div class="card"> <div class="card-body"> <%= meal.type_meal.name%> </div> </div>
  					</div>
			<% if index == (@food_planning.meals.size - 1) %>
				</div>
			</div>
			<% end %>
  		<% elsif index % 3 != 0 %>
  			<div class="col-md-3">
				<div class="card"> <div class="card-body"> <%= meal.type_meal.name%> </div> </div>
				</div>
  			<% if index == (@food_planning.meals.size - 1) %>
				</div>
			</div>
			<% end %>
  		<% else %>
  				</div>
  			</div>
  			<div class="carousel-item">
  				<div class="row">
  					<div class="offset-md-2 col-md-3">
  						<div class="card"> <div class="card-body"> <%= meal.type_meal.name%> </div> </div>
  					</div>
			<% if index == (@food_planning.meals.size - 1) %>
				</div>
			</div>
			<% end %>
  		<% end %>
  	<%end%>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="color:black">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="color:black">
    <i class="fas fa-chevron-right"></i>
  </a>

</div>

<div class="modal fade" id="modal_new_meal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_new_meal">
  Launch demo modal
</button>

<%= link_to 'Add meal', new_meal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal_new_meal', class: 'btn btn-primary btn-lg'}  %>
<script type="text/javascript">
	
	$(function(){
		$(".carousel").carousel('pause')
	})

</script>